{
  "fodf": "lmax8.nii.gz",
  "mask_5tt": "mask.nii.gz",
  "seed_mask": "",
  "algo": "prob",
  "seeding_type": "npv",
  "nbr_seeds": 10,
  "step": 0.5,
  "theta": 20,
  "sfthres": 0.1,
  "sfthres_init": 0.5,
  "min_length": 20,
  "max_length": 200,
  "particles": 15,
  "back_tracking": 2,
  "forward_tracking": 1,
  "compress": true,
  "compress_value": 0.2,
  "random_seed": 0,
  "sh_basis": "descoteaux07"
}
